:root {
    --bggrey: #707070;
    --bkack: #000000;
    --black-haze: #f6f7f9;
    --blue: #3347ff;
    --clementine: #db6e00;
    --geyser: #dce0e5;
    --gray: #d9d9d9;
    --greysblue-grey800: #444a6d;
    --madang: #befec7;
    --main: #012a6c;
    --pattens-blue: #e0e9ff;
    --pattens-blue-2: #e0edff;
    --pink: #fca0a6;
    --slate-gray: #6f7c8e;
    --slimy-green: #00a81c;
    --vis-vis: #ffed9e;
    --vulcan: #14181f;
    --white: #ffffff;
    --white-2: #ffffff1a;
    --main-colormain2: #0b24fb;
    --main-colorthird2: #e3e6fe;
    --black-2: #00000099;
    --green: #039754;
    --black: #000000;
    --midnight-blue: #012a6c;
    --delta: #a2a2a2;
    --gallery: #f0eeed;
    --yellow: #ffe46c;
    --bg-colorbg1: #f7f7f7;
    --red: #d92c20;
    --black-3: #000000;
  
    --font-size-l: 16px;
    --font-size-m: 15px;
    --font-size-s: 13px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 22px;
    --font-size-xxxxl: 40px;
  
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-17: 17px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-32: 32px;
    --font-size-40: 40px;
    --font-size-l-2: 22px;
    --font-size-m-2: 20px;
    --font-size-s-2: 17px;
    --font-size-xxl-2: 32px;
    --font-size-xl-2: 24px;
  
    --font-family-kanit: "Kanit", Helvetica;
    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-noto_sans_thai: "Noto Sans Thai", Helvetica;
    --font-family-poppins: "Poppins", Helvetica;
  }

.img-content-mock {
    height: 80px;
    width: 80px;
}

.img-cell {
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--geyser);
    display: flex;
    /* width: fit-content; */
    height: fit-content;
    gap: 8px;
    /* height: 44px; */
    padding: 8px;
    position: relative;
    align-items: center;
  }

  .fit-content {
    width: fit-content;
  }

  .h80 {
    height: 80px;
  }
  
  .ac-center {
    align-content: center;
  }

  .status-active {
    background-color: var(--madang);
    color: var(--slimy-green) !important;
    align-items: center;
    border-radius: 29px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    height: 24px;
    justify-content: center;
    padding: 16px 10px 13px 10px;
    position: relative;
  }

  .status-no-active {
    background-color: #FFDEE0;
    color: #DF0C3D !important;
    align-items: center;
    border-radius: 29px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    height: 24px;
    justify-content: center;
    padding: 16px 10px 13px 10px;
    position: relative;
  }

  .flex-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-grow-2 {
    flex-grow: 2 !important;
  }

  .icon-btn {
    width: 20px;
  }

  .text-white {
    color: var(--white);
  }

  .content-form {
    /* padding: 16px; */
    width: -webkit-fill-available;
  }

  .card-form {
    border: 1px #E6E6FA solid;
    border-radius: 10px;
  }

  .title-form {
    background-color: #E6E6FA;
    color: var(--blue);
    font-family: var(--font-family-noto_sans_thai);
    font-size: var(--font-size-20);
    font-style: normal;
    font-weight: 400;
    padding: 16px;
    border-radius: 10px 10px 0 0;
  }

  .body-form {
    padding: 20px;
  }

  .col-1 {
    width: calc(1 / 12);
  }

  .col-2 {
    width: calc(2 / 12 * 100%);
  }

  .col-3 {
    width: calc(3 / 12 * 100%);
  }

  .col-4 {
    width: calc(4 / 12 * 100%);
  }

  .col-5 {
    width: calc(5 / 12 * 100%);
  }

  .col-6 {
    width: calc(6 / 12 * 100%);
  }

  .col-7 {
    width: calc(7 / 12 * 100%);
  }

  .col-8 {
    width: calc(8 / 12 * 100%);
  }

  .col-9 {
    width: calc(9 / 12 * 100%);
  }

  .col-10 {
    width: calc(10 / 12 * 100%);
  }

  .col-11 {
    width: calc(11 / 12 * 100%);
  }

  .col-12 {
    width: calc(12 / 12 * 100%);
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .jc-center {
    justify-content: center;
  }

  .form-information {
    column-gap: 30px;
  }

  .text-field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* height: 85px;
    padding: 0px 0px 8px; */
    position: relative;
    min-width: 307px;
  }

  .custom-dropdown {
    width: -webkit-fill-available;
    border: 0;
  }

  .custom-dropdown:focus {
    outline: none;
    border: none;
  }

  .frame-20 {
    align-items: center;
    align-self: stretch;
    background-color: var(--white);
    /* background-color: #F3F3F3; */
    border: 1px solid;
    /* border-color: var(--bggrey); */
    border-color: #00000059;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    /* width: 100%; */
  }

  .text_input {
    background-color: transparent;
    border: 0;
    flex: 1;
    flex-grow: 1;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    padding: 0;
    position: relative;
    font-size: 17px;
    font-family: var(--font-family-noto_sans_thai);
  }

  .file-field {
    border: 4px #CBD0DC dashed;
    border-radius: 26px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .file-field-isFile {
    border: 4px #CBD0DC dashed;
    border-radius: 26px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
    padding: 50px;
  }

  .icon-image-upload {
    /* width: 46px; */
    height: 46px;
  }

  .image-upload {
    height: 250px;
  }

  .title-upload {
    color: #292D32;
    font-size: var(--font-size-20);
    font-family: var(--font-family-noto_sans_thai);
    font-weight: 600;
  }

  .sub-title-upload {
    color: #A9ACB4;
    font-size: var(--font-size-16);
    font-family: var(--font-family-noto_sans_thai);
    font-weight: 400;
  }

  .button-add-file {
    padding: 8px 24px;
    border: 1px #012A6C solid;
    background-color: white;
    border-radius: 10px;
    color: #012A6C;
    font-size: var(--font-size-20);
    font-family: var(--font-family-noto_sans_thai);
    font-weight: 600;
  }

  .button-add-file:hover {
    border: 1px #012A6C solid;
    background-color: #012A6C;
    color: white;
  }

  .button-delete-file {
    padding: 8px 24px;
    border: 1px var(--red) solid;
    background-color: white;
    border-radius: 10px;
    color: var(--red) !important;
    font-size: var(--font-size-20);
    font-family: var(--font-family-noto_sans_thai);
    font-weight: 600;
  }

  .button-delete-file:hover {
    border: 1px var(--red) solid;
    background-color: var(--red);
    color: white;
  }

  .input-form {
    row-gap: 30px;
    margin-top: 10px;
  }

  .button-cancel {
    padding: 16px;
    border: 1px #DCE0E5 solid;
    background-color: white;
    border-radius: 10px;
    color: black !important;
    font-size: var(--font-size-18);
    font-family: var(--font-family-noto_sans_thai);
    font-weight: 500;
    min-width: 158px;
    text-align: center;
    align-self: center;
  }

  .button-save {
    padding: 16px;
    border: 1px #3348FF solid;
    background-color: #3348FF;
    border-radius: 10px;
    color: white !important;
    font-size: var(--font-size-18);
    font-family: var(--font-family-noto_sans_thai);
    font-weight: 500;
    min-width: 158px;
    text-align: center;
    align-self: center;
  }

  .row-button-action-form {
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
  }

  .d-none {
    display: none;
  }



  